body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
}
nav{
    width: 100%;
    background-color: black;
    height: 80px;
    line-height: 80px;
    display:flex;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    color: red;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.5s all ease;
}
ul li{
    float: left;
    padding: 0px 10px;
    list-style: none;
}
ul li a:hover{
    color:cadetblue;
}
